# List all files colorized in long format
alias ls="ls --color"
alias l="ls -laF"

alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'

# Git
alias gc-="git checkout -"
alias git-yolo='git commit --amend --no-edit && git push origin HEAD --force-with-lease'

alias sshconfig="vi ~/.ssh/config"
alias displaykey='cat ~/.ssh/id_rsa.public'
alias zshconfig="$EDITOR ~/.zshrc"
alias sctl="sudo sctl"
alias tailf='tail -f'
alias hosts="sudo nano /etc/hosts"
alias home="cd $HOME"
alias nano="nano -c"


