export EDITOR='vim'

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"
# And include the parameter for ZSH
export HISTORY_IGNORE="(ls|cd|cd -|pwd|exit|date|* --help)"
# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"
# set terminal in English
export LC_ALL=en_US.UTF-8

# Enhancd zsh plugin
export ENHANCD_FILTER="fzf"
export ENHANCD_DOT_ARG="..."

export VOLTA_HOME="$HOME/.volta"

# Use to cdproj alias
export PROJECTS_ROOT_DIR="$HOME/projets"

# Rust
[[ -f "$HOME/.cargo/env" ]] && source "$HOME/.cargo/env"
