@define-color color1          #f4dbd6;
@define-color color2          #ed8796;
@define-color color5          #b7bdf8;
@define-color color6          #c6a0f6;
@define-color surface0        #363a4f;
@define-color surface1        #494d64;
@define-color surface2        #5b6078;
@define-color foreground      #cad3f5;
@define-color background      #24273a;
@define-color background-sec  #1e2030;
@define-color background-thd  #181926;
