#window,
#box,
#search,
#password,
#input,
#typeahead,
#spinner,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#sub,
#activationlabel {
  all: unset;
}

#window {
  background: none;
}

#box {
  background: #0b0a10;
  padding: 16px;
  border-radius: 8px;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

scrollbar {
  background: none;
  padding-left: 8px;
}

slider {
  min-width: 2px;
  background: #7f849c;
  opacity: 0.5;
}

#search {
}

#password,
#input,
#typeahead {
  min-height: 36px;
  padding: 4px 10px;
  margin: 4px;
  border: none;
  color: #e2e0ec;
  font-weight: bold;
  background-color: #161420;
  outline: none;
  border-radius: 15px;
}

#input {
  background: none;
}

#input > *:first-child,
#typeahead > *:first-child {
  color: #7f849c;
  margin-right: 7px;
}

#input > *:last-child,
#typeahead > *:last-child {
  color: #7f849c;
}

#spinner {
}

#typeahead {
  color: #89b4fa;
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  border-radius: 8px;
  color: #cad3f5;
  padding: 4px;
}

child:selected,
child:hover {
  color: #211e2f;
  background: linear-gradient(90deg, #d3e8ff 0%, #f8d3f1 100%);
  box-shadow: none;
}

#item {
}

#icon {
}

#text {
}

#label {
  font-weight: bold;
}

#sub {
  opacity: 0.5;
}

#activationlabel {
  opacity: 0.5;
  padding-right: 4px;
}

.activation #activationlabel {
  font-weight: bold;
  color: #89b4fa;
  opacity: 1;
}

.activation #text,
.activation #icon,
.activation #search {
}
