@define-color color1 #a5adcb;
@define-color foreground #cad3f5;
@define-color background #181926;
@define-color base #24273a;
@define-color mauve #c6a0f6;
@define-color blue #8aadf4;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#window {
  background: none;
}

#box {
  background: @background;
  padding: 16px;
  border-radius: 8px;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

scrollbar {
  background: none;
  padding-left: 8px;
}

slider {
  min-width: 2px;
  background: @mauve;
  opacity: 0.5;
}

#search {
}

#password,
#input,
#typeahead {
  min-height: 36px;
  padding: 4px 10px;
  margin: 4px;
  border: none;
  color: @foreground;
  font-weight: bold;
  background: @base;
  outline: none;
  border-radius: 15px;
}

#input {
  background: none;
}

#spinner {
}

#typeahead {
  color: #f5a97f;
  opacity: 1;
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  border-radius: 8px;
  color: #cad3f5;
  padding: 4px;
}

child:selected,
child:hover {
  color: #211e2f;
  background: linear-gradient(90deg, #d3e8ff 0%, #f8d3f1 100%);
  box-shadow: none;
}

#item {
}

#icon {
}

#text {
}

#label {
  font-weight: bold;
}

#sub {
  opacity: 0.5;
}

#activationlabel {
  opacity: 0.5;
  padding-right: 4px;
}

.activation #activationlabel {
  font-weight: bold;
  color: @blue;
  opacity: 1;
}

.activation #text,
.activation #icon,
.activation #search {
}
