* {
    border: none;
    border-radius: 10px;
    font-family: "Cantarell", "Sauce Code Pro Nerd Font", "FiraCode Nerd Font" ;
    font-size: 16px;
    font-weight: 600;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    border-radius: 10px;
    transition: none;
    color: transparent;
    background: transparent;
}

#workspaces,
#network,
#pulseaudio,
#battery,
#backlight,
#clock,
#hardware,
#memory,
#cpu,
#disk,
#tray,
#window,
#custom-launcher,
#custom-power,
#custom-notification,
#custom-updates,
#custom-playerctl,
#idle_inhibitor, 
#custom-twitch,
#custom-pomo,
#submap {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    color: #cdd6f4;
    background: rgba(30, 30, 46, 0.5);
}

#cpu:hover, #memory:hover, #disk:hover, #custom-playerctl:hover, #idle_inhibitor:hover  {
    background: rgba(30, 30, 46, 0.7);
}

#workspaces {
    margin-top: 8px;
    margin-bottom: 2px;
    border-radius: 20px;
}

#workspaces button {
    transition: ease-in-out 0.2s;
    color: #89b4fa;
    background: transparent;
    font-size: 16px;
    border-radius: 20px;
    padding-right: 15px;
}

#workspaces button.urgent {
    color: #1e1e2e;
    background: #f38ba8;
}

#workspaces button.active {
    background: #1e1e2e;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #FEFEFE;
}

#pulseaudio.muted {
    background: #eba0ac;
    color: #1e1e2e
}

#battery.charging, #battery.plugged {
	color: #1e1e2e;
    background-color: #cba6f7;
}

#battery.critical:not(.charging) {
    background-color: #eba0ac;
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #cdd6f4;
    }
}

#backlight {
    color: #1e1e2e;
    background: #fab387;
}

#clock {
    margin-right: 8px;
}

#hardware {
   padding: 0 5px; 
}

#hardware #cpu, 
#hardware #memory, 
#hardware #disk, 
#hardware #network {
    margin: 5px 2px;
}

#hardware #cpu {
    color: #89b4fa;
}

#hardware #memory {
    color: #cba6f7;
}

#hardware #disk {
    color: #94e2d5;
}

#tray {
    color: #94e2d5;
    background: transparent;
}

#custom-launcher {
    transition: ease-in-out 0.3s;
    font-size: 24px;
    padding-right: 5px;
    color: #74c7ec;
    background: #1e1e2e;
}

#custom-launcher:hover {
    background: #74c7ec;
    color: #1e1e2e;
}

#idle_inhibitor.activated {
    color: #1e1e2e;
    background: #b7bdf8;
    padding-right: 17px;
    padding-left: 10px;
}

#custom-power {
    font-size: 20px;
    margin-right: 8px;
    padding-right: 5px;
    color: #1e1e2e;
    background: #f38ba8;
}

#custom-updates {
    color: #1e1e2e;
    background: #fab387;
}

#custom-playerctl {
    font-size: 15px;
}

#custom-dnd, #custom-notification{
    color: #cdd6f4;
}

#custom-notification.notification,
#custom-notification.dnd-notification,
#custom-notification.inihibited-notification,
#custom-notification.dnd-inihibited-notification {
    padding-right: 10px;
}

#custom-notification.notification {
    background: #1e1e2e;
}

#submap {
    color: #1e1e2e;
    background: #f38ba8;
    font-size: 12px;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 5px;
}

#custom-twitch {
    padding-right: 15px;
    color: white;
    background: #6441a5;
}

#custom-twitch:hover {
    background: rgba(100, 65, 165, 0.5);
}

#custom-pomo {
    font-family: "Sauce Code Pro Nerd Font", "FiraCode Nerd Font" ;
    font-weight: 500
}

/* #custom-pomo.finished { */
/*   background: #ed8796; */
/*     color: #181926; */
/* } */

#custom-pomo.running {
  background: #1e1e2e;
}

#custom-pomo.paused {
  background: #ed8796;
  color: white;
}

#window {
    background: transparent
}
